* {
  margin: 0;
  padding: 0; }

.table-row, .table-header {
  display: flex;
  flex-direction: row;
  margin: 1rem auto; }

.table-item {
  margin: 0 0.5rem;
  border: 1; }

.unit {
  width: 5rem; }

.section {
  width: 5rem; }

.url {
  width: 10rem; }

.title {
  width: 10rem; }

.icon {
  width: 7rem; }

.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .button-section button {
    margin: 0 0.5rem; }

#copy-button {
  background-color: #35ff3f;
  padding: 0 0.5rem;
  text-align: center; }
  #copy-button:hover {
    background-color: #27bb2e; }

.action-button {
  min-width: 4rem;
  padding: 5pt;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 0pt;
  box-shadow: 1px 1px 3px #505050; }
